html {
    height: 100%;
}

.nav-logo-font {
    font-size: 200%;
}

.carousel-img {
    height: 60vh;
    object-fit: cover;
    object-position: center;
  }

.carousel-caption {
    background-color: rgba(244, 181, 63, 0.77);
}

.main-text {
    height: 60vh;
    align-items: center;
}

.bg-black {
    background-color: #000 !important;
}

.bg-grey {
    background-color: rgb(229, 229, 232);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.call-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.call-now-button:hover,
.call-now-button:active,
.call-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.about-text, .font-size {
    font-size: 150%;
}

.navbar-logo-img {
    height: 50px;
    width: 50px;
}

/* extra large screen sizes only */
@media (min-width: 1200px) {
    .nav-item {
        font-size: 125%;
    }
}

/* medium screen sizes and down */
@media (max-width: 768px) {
    .nav-logo-font {
        font-size: 150%;
    }
    
    .carousel-text {
        font-size: 150%;
    }
}

/* small screen sizes and down */
@media (max-width: 578px) {
    .logo-text-sm, .services-text-sm {
        font-size: 175%;
    }

    .about-text {
        font-size: 135%;
    }
}

/* very small screen sizes */
@media (max-width: 450px) {
    .nav-logo-font {
        font-size: 125%;
    }

    .navbar-logo-img {
        width: 35px;
        height: 35px;
    }
}

/* extra small screen sizes only */
@media (max-width: 350px) {
    .carousel-text {
        font-size: 125%;
    }

    .about-text {
        font-size: 125%;
    }
}