html {
    height: 100%;
    width: 100%;
}

.carousel-img {
    height: 30vh;
    object-fit: cover;
    object-position: center;
  }

.orange-background {
    background-color: rgba(244, 181, 63, 0.77);
}

.main-text {
    height: 60vh;
    align-items: center;
}

.icon-style {
    color: rgba(244, 181, 63, 0.77);
}

.nav-logo-font {
    font-size: 200%;
    font-weight: 600;
}

.nav-item-font {
    font-size: 125%;
    font-weight: 600;
}

.logo-font {
    text-transform: uppercase;
}

.sub-logo-font {
    font-size: 150%;
    font-weight: 600;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.about-text, .about-contact {
    font-size: 125%;
}

.certificates-img {
    height: 125px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.services-text-font, .alarms-text-font, .contact-text-font {
    font-size: 125%;
}

.services-img-sm, .alarms-img-sm {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

.alarms-img-top-sm {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    }

.services-img-lg, .alarms-img-lg {
    height: 310px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

/* extra large screen sizes only */
@media (max-width: 991px) {
    .nav-logo-font {
        font-size: 150%;
    }

    .main-logo-font, .contact-font {
        font-size: 175%;
    }

    .certificates-img {
        height: 100px;
    }

    .services-text-heading, .alarms-text-heading, .contact-text-heading {
        font-size: 175%;
    }

    .sub-logo-font {
        font-size: 125%;
    }
}

/* small screen sizes and down */
@media (max-width: 578px) {
    .nav-logo-font {
        font-size: 125%;
    }

    .main-logo-font, .contact-font {
        font-size: 125%;
    }

    .about-text, .about-contact {
        font-size: 115%;
    }

    .certificates-img {
        height: 80px;
    }

    .services-text-heading, .alarms-text-heading, .contact-text-heading {
        font-size: 140%;
    }

    .services-text-font, .alarms-text-font, .contact-text-font {
        font-size: 115%;
    }
}

/* very small screen sizes only */
@media (max-width: 481px) {
    .nav-logo-font, .main-logo-font, .contact-font {
        font-size: 115%;
    }
    
    .nav-toggler-container {
        display: none;
    }

    .about-text, .about-contact {
        font-size: 100%;
    }
}

/* extra small screen sizes only */
@media (max-width: 350px) {
    .nav-logo-img, .main-logo-img {
        display: none;
    }

    .contact-logo-img {
        display: none;
    }
}

/* medium screen sizes only */
@media (min-width: 350px) {
    .contact-logo-img-container-sm {
        display: none;
    }

    .main-logo-img-container-sm {
        display: none;
    }
}