html {
    height: 100%;
    width: 100%;
}

.carousel-img {
    height: 30vh;
    object-fit: cover;
    object-position: center;
  }

.contact-background, .carousel-caption {
    background-color: rgba(244, 181, 63, 0.77);
}

.main-text {
    height: 60vh;
    align-items: center;
}

.bg-black {
    background-color: #000 !important;
}

.bg-grey {
    background-color: rgb(229, 229, 232);
}

.icon-style {
    color: rgba(244, 181, 63, 0.77);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-logo-font {
    font-size: 200%;
    font-weight: 600;
}

.nav-item-font {
    font-size: 125%;
    font-weight: 600;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.call-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.call-now-button:hover,
.call-now-button:active,
.call-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.about-text, .about-contact {
    font-size: 125%;
}

.services-text-font, .alarms-text-font {
    font-size: 125%;
}

/* extra large screen sizes only */
@media (max-width: 991px) {
    .nav-logo-font {
        font-size: 150%;
    }

    .main-logo-font {
        font-size: 175%;
    }

    .services-text-heading, .alarms-text-heading {
        font-size: 175%;
    }
}

/* small screen sizes and down */
@media (max-width: 578px) {
    .nav-logo-font {
        font-size: 125%;
    }

    .main-logo-font {
        font-size: 125%;
    }

    .about-text, .about-contact {
        font-size: 115%;
    }

    .services-text-heading, .alarms-text-heading {
        font-size: 140%;
    }

    .services-text-font, .alarms-text-font {
        font-size: 115%;
    }
}

/* very small screen sizes only */
@media (max-width: 481px) {
    .nav-logo-font, .main-logo-font {
        font-size: 115%;
    }
    
    .nav-toggler-container {
        display: none;
    }

    .about-text, .about-contact {
        font-size: 100%;
    }
}

/* extra small screen sizes only */
@media (max-width: 350px) {
    .nav-logo-img, .main-logo-img {
        display: none;
    }
}

/* extra small screen sizes only */
@media (min-width: 350px) {
    .main-logo-img-container-sm {
        display: none;
    }
}